[Unit]
Description=Daily Papercut Systems TGG storage retention

[Timer]
OnCalendar=*-*-* 03:20:00
Persistent=true
RandomizedDelaySec=15m
Unit=systems-papercut-labs-tgg-retention-cleanup.service

[Install]
WantedBy=timers.target
