[Unit]
Description=Schedule Christopher weekly report run

[Timer]
OnCalendar=Mon *-*-* 08:00:00 Asia/Singapore
Persistent=true
Unit=christopher-tgg-report-weekly.service

[Install]
WantedBy=timers.target
